<div class="content">
	<form
		class="content__form flex-column"
		autocomplete="off"
		[formGroup]="formGroup"
		(ngSubmit)="clickSave()"
		style="width: 30%"
	>
		<mat-form-field appearance="outline" style="width: 75%">
			<mat-label>Contraseña anterior</mat-label>
			<input matInput type="password" formControlName="oldPassword" />
			<mat-error *ngIf="oldPasswordField.hasError('required')">Este campo es requerido.</mat-error>
		</mat-form-field>

		<mat-form-field appearance="outline" style="width: 75%">
			<mat-label>Nueva contraseña</mat-label>
			<input matInput type="password" formControlName="newPassword" />
			<mat-error *ngIf="newPasswordField.hasError('customPasswordValidator')">
				La contraseña debe tener al menos una mayúscula, minúscula, simbolo, número y mayor a 8 caracteres.
			</mat-error>
			<mat-error *ngIf="newPasswordField.hasError('required')">Este campo es requerido.</mat-error>
		</mat-form-field>
		<br />
		<br />
		<button mat-raised-button color="primary" type="submit" style="width: 75%">GUARDAR</button>
	</form>
</div>
